<%= form_for([@ad, @comment], url: advertisement_comment_path(@ad.id, @comment.id)) do |f| %>
    <fieldset>
      <%= f.label :title %>
      <%= f.text_field :title %>
    </fieldset>

    <fieldset>
      <%= f.label :body %>
      <%= f.text_field :body %>
    </fieldset>

    <div class="actions">
      <%= f.submit "Save", :class => "btn btn-primary" %>
    </div>
<% end %>