<h3>Add comment: </h3>

<%= form_for([@ad, Comment.new]) do |f| %>
    <fieldset>
      <%= f.label :title %>
      <%= f.text_field :title %>
    </fieldset>

    <fieldset>
      <%= f.label :body %>
      <%= f.text_field :body %>
    </fieldset>

    <div>
      <%= f.hidden_field :user_id, value: current_user.id %>
      <%= f.hidden_field :advertisement_id, value: @ad.id %>
    </div>

    <div class="actions">
      <%= f.submit "Save", :class => "btn btn-primary" %>
    </div>
<% end %>