<p>
  <b>Title:</b>
  <%= @ad.title %>
</p>

<p>
  <b>Type:</b>
  <%= @ad.ad_type %>
</p>

<p>
  <b>Description:</b>
  <%= @ad.description %>
</p>

<% if @ad.comments.any? %>
  <b>Comments:</b>
  <% @ad.comments.each do |comment| %>
    <p> Title: <%= comment.title %> </p>
    <p> Body: <%= comment.body %> </p>
  <% end %>
<% end %>

<%= render 'comment' %>

<%= link_to 'Edit', edit_advertisement_path(@ad) %> |
<%= link_to 'Back', advertisements_path %>