<p>
  <b>Title:</b>
  <%= @ad.title %>
</p>

<p>
  <b>Type:</b>
  <%= @ad.ad_type %>
</p>


<p>
  <b>Description:</b>
  <%= @ad.description %>
</p>



<%= link_to 'Edit', edit_advertisement_path(@ad) %> |
<%= link_to 'Back', advertisements_path %>