<%= form_for(@car) do |f| %>
    <% if @car.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@car.errors.count, "error") %> prohibited this car from being saved:</h2>

          <ul>
            <% @car.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <fieldset>
      <%= f.label :type %>
      <%= f.text_field :type, :class => "colorpicker" %>
    </fieldset>

    <fieldset>
      <%= f.label :model %>
      <%= f.text_field :model %>
    </fieldset>

    <fieldset>
      <%= f.label :brand %>
      <%= f.text_field :brand %>
    </fieldset>

    <fieldset>
      <%= f.label :fuel_type %>
      <%= f.text_field :fuel_type %>
    </fieldset>

    <fieldset>
      <%= f.label :engine_capacity %>
      <%= f.text_field :engine_capacity %>
    </fieldset>

    <fieldset>
      <%= f.label :condition %>
      <%= f.text_field :condition %>
    </fieldset>
    
    <fieldset>
      <%= f.label :color %>
      <%= f.text_field :color %>
    </fieldset>

    <fieldset>
      <%= f.label :price %>
      <%= f.text_field :price %>
    </fieldset>

    <fieldset>
      <%= f.label :year %>
      <%= f.text_field :year %>
    </fieldset>

    <div class="actions">
      <%= link_to "Cancel", cars_path, :class => "btn" %>
      <%= f.submit "Save", :class => "btn btn-primary" %>
    </div>
<% end %>